@if (metadata()) {
  <div class="details-wrapper">
    <div class="left">
      <app-input label="Titel" [(value)]="title"></app-input>
      <app-input type="date" label="Datum" [(value)]="date"></app-input>
      <app-input label="Kontakt" [(value)]="senderName"></app-input>
      <app-tag-selection [(tags)]="tags"></app-tag-selection>
      <mat-checkbox [(ngModel)]="checked">Überprüft</mat-checkbox>
      <a [href]="sanitizedDocumentLink()" download>download document</a>
      <button mat-raised-button (click)="save()">Speichern</button>
      <button mat-raised-button (click)="delete()">Löschen</button>
    </div>
    <object [type]="metadata()!.contentType"
      [data]="sanitizedDocumentLink()"
      width="100%">
    </object>
  </div>
}
