<mat-form-field class="wrapper">
  <mat-label>{{label()}}</mat-label>
  @if (type()!=='date') {
    <input (ngModelChange)="emitValue($event)"
      [(ngModel)]="value"
      [type]="type()"
      matInput/>
  } @else {
    <div style="display: flex">
      <input matInput
        (dateChange)="updateDate($event)"
        [value]="value()"
        [matDatepicker]="picker"/>
      <mat-datepicker-toggle [for]="picker" matIconSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </div>
  }
</mat-form-field>


