<div class="tag-management-wrapper">
  <mat-form-field>
    <mat-label>{{ strategy().itemName }} auswählen</mat-label>
    <mat-select [ngModel]="selected()" (ngModelChange)="selectManageable($event)">
      @for (tag of manageables(); track tag.id) {
        <mat-option [value]="tag">{{ tag.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  @if (selected()) {
    <mat-form-field>
      <mat-label>{{ strategy().itemName }} Name</mat-label>
      <input matInput [ngModel]="editValue()" (ngModelChange)="editValue.set($event)"/>
    </mat-form-field>

    @if (type() === 'tag') {
      <mat-checkbox [ngModel]="editIsManualOnly()" (ngModelChange)="editIsManualOnly.set($event)">
        Nur manuell vergeben
      </mat-checkbox>
    }

    <div class="actions">
      <button mat-raised-button (click)="save()">Speichern</button>
      <button mat-raised-button color="warn" (click)="delete()">Löschen</button>
    </div>
  }
</div>
